<ion-header>
  
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div id="gameContainer"> <!-- having a container will allow us to have a game that includes elements that are outside of the canvas -->
        <canvas id="gameCanvas" tabindex="1"  ></canvas>

            <!-- ***************************************************************************** -->
            <!-- *************** THE CODE BELOW CAN BE DIFFERENT FOR EACH GAME *************** -->


            <!-- ************************* END OF GAME SPECIFIC CODE ************************* -->
            <!-- ***************************************************************************** -->
            
   </div>

</ion-content>
